{# Start Interface FOR Loop #}
{% for intf in l2interfaces %}
interface {{ intf.interface }}
 description {{intf.description}}
 switchport
 switchport mode {{ intf.mode }}
 {# Start Trunk IF Condition #}
 {% if intf.mode == "trunk" %}
 switchport trunk allowed vlan {{intf.vlans}}
 {# Start Trunk Edge IF Condition #}
 {% if intf.edge%}
 spanning-tree port type edge trunk
 {% endif %}
 {# End Trunk Edge IF Condition #}
 {# Start Trunk Native IF Condition #}
 {% if intf["native-vlan"] != 1 %}
 switchport trunk native vlan {{ intf["native-vlan"] | int }}
 {% endif %}
 {# End Trunk Native IF Condition #}
 {# Start Trunk ELSE Condition (Access) #}
 {% else%}
 {# Start Access Edge IF Condition #}
 switchport access vlan {{ intf.vlans }}
 {% if intf.edge%}
 spanning-tree port type edge
 {% endif %}
 {# End Access Edge IF Condition #}
 {% endif %}
 {# End Trunk IF Condition #}
 {# Start Bpdufilter IF Condition #}
 {% if intf["bpdu-filter"] %}
 spanning-tree bpdufilter enable
 {% endif %}
 {# End Bpdufilter IF Condition #}
 {# Start Bpduguard IF Condition #}
 {% if intf["bpdu-guard"] %}
 spanning-tree bpduguard enable
 {% endif %}
 {# End Bpduguard IF Condition #}
 {# Start Rootguard IF Condition #}
 {% if intf["root-guard"] %}
 spanning-tree guard root
 {% endif %}
 {# End Rootguard IF Condition #}
 {# Start Loopguard IF Condition #}
 {% if intf["loop-guard"] %}
 spanning-tree guard loop
 {% endif %}
 {# End Loopguard IF Condition #}
 {# Start Stormcontrol IF Condition #}
 {% if intf["storm-control"] != "N/A" %}
 {% set sc_values = intf["storm-control"].split(",") %}
 storm-control broadcast level {{ sc_values[0] }}
 storm-control uknown-unicast level {{ sc_values[1] }}
 storm-control multicast level {{ sc_values[2] }}
 storm-control action {{ sc_values[3] }}
 {% endif %}
 {# End Stormcontrol IF Condition #}
 {# Start Mtu IF Condition #}
 {% if intf.mtu != "N/A" %}
 mtu {{ intf.mtu | int }}
 {% endif %}
 {# End Mtu IF Condition #}
!
{% endfor %}
{# End Interface FOR Loop #}