{% for intf in l3interfaces %}
{# SVI Interfaces #}
interface vlan {{ intf["vlan-id"] }}
ip address {{ intf.subnet }}
{# FHRP Configurations if defined #}
{% if intf.fhrp %}
{{ intf["fhrp-type"] }} {{ intf["group-id"] | int }}
{% if intf.preempt %}
preempt
{% endif %}
priority {{ intf.priority | int }}
ip {{ intf["virtual-ip"]}}
{% endif %}
no shutdown
{% endfor %}