{% for pc in portchannels %}
interface port-channel {{ pc.id }}
{% if pc.isvpc %}
vpc {{ pc.id }}
{% endif %}
exit
interface {{ pc.members }}
{% if pc.lacp %}
channel-group {{ pc.id }} mode {{ pc["lacp-mode"] }}
{% else %}
channel-group {{ pc.id }}
{% endif %}
{% endfor %}