{% if stp["mode"] == "mst" %}
spanning-tree mode mst
{% for elem in stp["mst"] %}
{% set values = elem.split(":") %}
spanning-tree mst {{ values[0] }} priority {{ values[2] }}
{% endfor %}
spanning-tree mst configuration
name {{ stp["name"] }}
revision {{ stp["revision"] | int }}
{% for elem in stp["mst"] %}
{% set values = elem.split(":") %}
instance {{ values[0] }} vlan {{ values[1] }}
{% endfor %}
{% else %}
{% for elem in stp["pvst"] %}
{% set values = elem.split(":") %}
spanning-tree vlan {{ values[0] }} priority {{ values[1] }}
{% endfor %}
{% endif%}
